.itemDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    margin: 5px 0;
    background-size: auto;

    .item, .imageItem {
        display: flex;
        align-items: self-end;
        justify-content: center;
        background-size: cover;
        width: 97%;
        border-radius: 10px;
    }

    .imageItem {
        height: 300px;
        padding-bottom: 10px;
    }

    .item {
        height: 100%;
    }

    .link{
        text-decoration: none;

        .item{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1500px;
            height: 150px;
            background: #e2e2e2;
            
            p{
                color: black;
                font-weight: bold;
                font-size: 25px;
            }
        }
    }
}

.itemOpen{
    background: #e2e2e2;
    width: 350px;
    height: 350px;
    margin: 60px 15px;

}